{% extends "base.html" %}
{% block content %}
    <div class="container" style="color: white">
        <h5>Winners</h5>
        <p class="mt-2">Argument 1: The prison system should be reformed because previous offenders offend again as they typically have no other places to live. There are over 20,000 prisoners who reoffend because of a lack of housing and stability in their lives after being released from prison.  \n Second Argument: The prison system should not be changed as it disciplines imnates and reforms them. \n Which argument is better?</p>
        <p>{{ winner }}</p>
    </div>
{% endblock %}